<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG XML Example">

  <test name="smoke">
    <classes>
      <class name="testng.TestAttributesExample"/>
    </classes>
  </test>
  
  <test name="regression">
    <classes>
      <class name="testng.TestAttributesExample"/>
    </classes>
  </test>

</suite>
